@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 100 900;
    font-display: block;
}

@theme {
    --font-sans: "Inter";
    --font-sans--font-variation-settings: "opsz" auto;
    --color-light-bg: #f4f4f4;
    --color-dark-bg: #123463;
    --color-surge-orange: #ff9000;
    --color-surge-blue: #2d86fe;
}

@layer base {
    html[data-theme="dark"] {
        scrollbar-color: var(--color-surge-orange) var(--color-dark-bg);
        scrollbar-width: auto;
    }

    html[data-theme="light"] {
        scrollbar-color: var(--color-surge-orange) var(--color-light-bg);
        scrollbar-width: auto;
    }

    a {
        @apply text-surge-orange hover:text-surge-blue dark:text-surge-orange dark:hover:text-surge-blue;
    }

    select {
        @apply bg-light-bg text-surge-orange hover:text-surge-blue dark:bg-dark-bg dark:text-surge-orange dark:hover:text-surge-blue;
    }

    :target {
        scroll-margin-top: var(--nav-height);
    }
}

@layer components {
    .content-wrapper {
        @apply mx-auto max-w-3xl bg-red-400/0 p-4;
    }
}
