---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Default from "@layouts/default.astro";
import Header from "@components/header.astro";

export async function getStaticPaths() {
    const pages = await getCollection("pages");
    return pages.map((page) => ({
        params: { slug: page.slug },
        props: { page },
    }));
}

const { page } = Astro.props;
const { Content } = await page.render();
---

<Default title={"Surge Synth Team - " + page.data.title} {...Astro.props}>
    <Header />

    <div class="m-auto grid max-w-[800px] grid-flow-row gap-8 p-8">
        <h1 class="place-self-center">{page.data.title}</h1>
        {
            page.data.order !== 0 ? (
                <>
                    <div class="grid gap-6 rounded-3xl bg-backgroundCard p-8">
                        {page.data.cover ? (<Image
                            class="select-none rounded-xl bg-transparent shadow-xl shadow-neutral-600 dark:shadow-black"
                            src={page.data.cover}
                            alt={page.data.title}
                        />) : ""}
                    </div>
                </>
            ) : (
                ""
            )
        }
        <Content />
    </div>
</Default>
