---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";

export async function getStaticPaths() {
    const pages = await getCollection("pages");

    return pages.map((page) => ({
        params: { page: page.id },
        props: { page },
    }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout title={page.data.title}>
    <div class="max-w-4xl">
        <Article>
            <h1>{page.data.title}</h1>
            <Content />
        </Article>
    </div>
</BaseLayout>
