---
import { getCollection, render } from "astro:content";

import Default from "../layouts/Default.astro";

export async function getStaticPaths() {
    const pages = await getCollection("pages");

    return pages.map((page) => ({
        params: { pages: page.id },
        props: { page },
    }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<Default title={page.data.title}>
    <article
        class="prose prose-neutral dark:prose-invert prose-a:text-blue-600 prose-a:hover:text-blue-500 prose-a:dark:text-blue-500 prose-a:dark:hover:text-blue-400">
        <h1 class="place-self-center">{page.data.title}</h1>
        <Content />
    </article>
</Default>
