---
import { getCollection } from "astro:content";

import Default from "layouts/Default.astro";

export async function getStaticPaths() {
    const entries = await getCollection("pages");

    return entries.map((entry) => ({
        params: { pages: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Default title={entry.data.title}>
    <h1 class="place-self-center">{entry.data.title}</h1>
    <Content />
</Default>
