---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => ({
        params: { project: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Base title={`Surge Synth Team | ${project.data.title}`}>
    <article class="content-wrapper">
        <h1>{project.data.title}</h1>
        <Image
            class="product-image"
            src={project.data.cover}
            alt={project.data.title}
            quality="100"
            format="png"
        />
        <Content />
    </article>
</Base>
