---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import Default from "../layouts/Default.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => ({
        params: { projects: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Default title={project.data.title}>
    <article
        class="prose prose-neutral dark:prose-invert prose-a:text-blue-600 prose-a:hover:text-blue-500 prose-a:dark:text-blue-500 prose-a:dark:hover:text-blue-400">
        <h1 class="place-self-center">{project.data.title}</h1>
        <Image
            class="rounded-lg shadow-2xl shadow-black"
            src={project.data.cover}
            alt={project.data.title}
            quality="100"
            format="png"
        />
        <Content />
    </article>
</Default>
