---
const { page } = Astro.props;

let projects;
page === "projects" ? (projects = true) : (projects = false);
---

<div
    class="sticky top-0 flex place-content-center bg-neutral-200 font-semibold leading-none dark:bg-neutral-800">
    <div class="grid grid-flow-col gap-4 p-1">
        <a class="p-2 no-underline" href="/">Projects</a>
        <a
            class="bg-backgroundCard w-fit rounded-lg p-2 no-underline"
            href="https://github.com/surge-synthesizer">Visit us on GitHub</a
        >
        <a class="p-2 no-underline" href="/open-source">Open Source</a>
        <a class="p-2 no-underline" href="/reviews-and-guides"
            >Reviews & Guides</a
        >
        <a class="p-2 no-underline" href="/contact-us">Contact Us</a>
    </div>
</div>

{
    projects ? (
        <div class="flex place-content-center bg-gradient-to-b from-neutral-200 to-neutral-50 p-8 text-lg dark:from-neutral-800 dark:to-neutral-900">
            <div class="flex max-w-[600px] flex-col text-center">
                <p>
                    The Surge Synth Team is a group of musicians, developers,
                    testers, documenters, and general volunteer open source
                    enthusiasts who randomly assembled to work on the Surge
                    Synthesizer. As the Surge project became more successful,
                    and we kept having fun, we decided to branch out into other
                    things too!
                </p>
            </div>
        </div>
    ) : (
        ""
    )
}
