---
const {} = Astro.props;
---

<div
    class="sticky top-0 bg-neutral-200 p-2 font-semibold leading-none dark:bg-neutral-800">
    <div class="flex flex-row flex-wrap place-content-center gap-2">
        <a class="w-fit rounded-lg bg-backgroundCard p-2 no-underline" href="/"
            >Projects</a
        >
        <a
            class="w-fit rounded-lg bg-backgroundCard p-2 no-underline"
            href="https://github.com/surge-synthesizer">GitHub</a
        >
        <a
            class="w-fit rounded-lg bg-backgroundCard p-2 no-underline"
            href="/open-source">Open Source</a
        >
        <a
            class="w-fit rounded-lg bg-backgroundCard p-2 no-underline"
            href="/contact">Contact</a
        >
    </div>
</div>
