---
import NavLink from "$components/nav_link.astro";
---

<nav
    class="sticky top-0 flex flex-row flex-wrap place-content-center gap-2 bg-neutral-200 p-2 font-semibold leading-none dark:bg-neutral-800">
    <NavLink href="/" name="Projects" />
    <NavLink href="https://github.com/surge-synthesizer" name="GitHub" />
    <NavLink href="/open-source" name="Open Source" />
    <NavLink href="/contact" name="Contact" />
</nav>
