<nav
    class="sticky top-0 grid max-h-fit grid-flow-col place-content-center gap-4 border-b-[1px] border-neutral-400 bg-neutral-200/80 p-1 text-nowrap backdrop-blur-3xl select-none dark:border-neutral-700 dark:bg-neutral-900/80">
    {
        [
            ["Projects", "/"],
            ["GitHub", "https://github.com/surge-synthesizer"],
            ["Open Source", "/open-source"],
            ["Contact", "/contact"],
        ].map(([title, href]) => (
            <a href={href} class="text-nowrap no-underline">
                {title}
            </a>
        ))
    }
</nav>
