---
import { Image } from "astro:assets";

const { page } = Astro.props;

const { Content } = await page.render();
---

<div class="m-auto grid max-w-[800px] grid-flow-row gap-8 p-8">
    <h1 class="place-self-center">{page.data.title}</h1>
    {
        page.data.order !== 0 ? (
            <>
                {page.data.cover ? (
                    <Image
                        class="rounded-lg shadow-lg shadow-neutral-600 dark:shadow-black"
                        src={page.data.cover}
                        alt={page.data.title}
                    />
                ) : (
                    ""
                )}
            </>
        ) : (
            ""
        )
    }
    <Content />
</div>
