---
const { src } = Astro.props;
---

{
    src ? (
        <div class="bg-backgroundCard grid gap-6 rounded-3xl p-8">
            <img
                class="select-none rounded-xl bg-transparent shadow-xl shadow-neutral-600 dark:shadow-black"
                src={src}
            />
        </div>
    ) : (
        ""
    )
}
