@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accentOrange: #ff9000;
    --accentBlue: #2d86fe;
    --accent1A: #ffb949;
    --accent1B: #d09030;
    --accent2A: #278bd6;
    --accent2B: #004f8a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --backgroundCard: #202020;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --backgroundCard: #e9e9e9;
    }
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

@layer base {
    body {
        @apply bg-neutral-50 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply w-fit font-black;
    }
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    a {
        @apply text-black underline hover:text-current dark:text-white;
    }
    ul {
        @apply list-inside list-disc;
    }
}
