@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: block;
}

:root {
    --surgeOrange: #ff9900;
    --surgeOrangeBright: #ffa826;
    --surgeBlue: #2d86fe;
    --surgeBlueBright: #4c98fe;
}

@layer base {
    h1,
    h2,
    h3,
    h4 {
        @apply mb-4 font-bold;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    a {
        @apply text-surgeBlue underline decoration-dotted underline-offset-4 hover:text-surgeBlueBright dark:text-surgeOrange dark:hover:text-surgeOrangeBright;
    }

    ul {
        @apply mb-4 list-inside list-disc;
    }

    ol {
        @apply mb-4 list-inside list-decimal;
    }

    p {
        @apply mb-4 text-pretty;
    }

    p:last-child {
        @apply mb-0;
    }

    img {
        @apply my-4;
    }
}
