@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: block;
}

@theme {
    --font-sans: "Lato";
    --color-surge-orange: #ff9000;
    --color-surge-orange-bright: color-mix(in srgb, var(--color-surge-orange) 80%, white);
    --color-surge-blue: #005cb6;
    --color-surge-blue-bright: color-mix(in srgb, var(--color-surge-blue) 80%, white);
    --color-surge-blue2: #2d86fe;
    --color-surge-blue2-bright: color-mix(in srgb, var(--color-surge-blue2) 80%, white);
}

@layer base {
    html[data-theme="dark"] {
        scrollbar-color: var(--color-surge-orange) var(--color-zinc-950);
        scrollbar-width: auto;
    }

    html[data-theme="light"] {
        scrollbar-color: var(--color-surge-orange) var(--color-zinc-950);
        scrollbar-width: auto;
    }

    a {
        @apply text-surge-orange underline hover:text-surge-orange-bright;
    }

    article {
        @apply prose dark:prose-invert text-zinc-950 dark:text-zinc-50 prose-headings:text-zinc-950 dark:prose-headings:text-zinc-50 prose-a:text-surge-orange prose-a:hover:text-surge-orange-bright;
    }
}

@layer components {
    .content-wrapper {
        @apply max-w-xl place-self-center p-4;
    }

    .product-image {
        @apply rounded-xl shadow-xl;
    }
}
