@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 100 900;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: block;
}

@font-face {
    font-family: "Blinker";
    src: url("/fonts/Blinker-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: block;
}

@theme {
    --font-sans: "Inter";
    --font-blinker: "Blinker";
    --font-sans--font-variation-settings: "opsz" auto;
    --color-surge-orange: #ff9000;
    --color-surge-orange-bright: color-mix(in srgb, var(--color-surge-orange) 80%, white);
    --color-surge-blue: #005cb6;
    --color-surge-blue-bright: color-mix(in srgb, var(--color-surge-blue) 80%, white);
    --color-surge-blue2: #2d86fe;
    --color-surge-blue2-bright: color-mix(in srgb, var(--color-surge-blue2) 80%, white);
}

@layer base {
    html[data-theme="dark"] {
        scrollbar-color: var(--color-surge-orange) var(--color-black);
        scrollbar-width: auto;
    }

    html[data-theme="light"] {
        scrollbar-color: var(--color-surge-orange) var(--color-black);
        scrollbar-width: auto;
    }

    a {
        @apply hover:text-surge-orange-bright text-surge-orange underline;
    }

    article {
        @apply prose prose-a:hover:text-surge-orange-bright prose-a:text-surge-orange prose-headings:text-black dark:prose-headings:text-white text-black dark:text-white;
    }
}

@layer components {
    .content-wrapper {
        @apply max-w-xl place-self-center p-4;
    }
}
