---
const { title } = Astro.props.frontmatter || Astro.props;
import "@css/index.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <meta
            name="description"
            content="We maintain and contribute to awesome open source audio plugins!"
        />
        <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
        <title>{title}</title>
    </head>

    <body class="bg-white text-black dark:bg-black dark:text-white">
        <slot />
    </body>
</html>
