---
const { title } = Astro.props.frontmatter || Astro.props;
import "@css/inter.css";
import "@css/emoji.css";
import "@css/index.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
        <title>{title}</title>
    </head>

    <body class="bg-white dark:bg-black">
        <slot />
    </body>
</html>
